body{
	background: url(../Images/contacts.jpg);
	background-size: 100% 450px;
	background-repeat: no-repeat;
	padding-top: 70px;
}

#first{
	margin-top: 25%;
	margin-left: 2.5%;
	float: left;
	width:45%;
	padding-left: 15px;
	padding-right:15px;
	font-size: 21px;
	font-family: Helvetica ;
	color: black;
}

#space{
	margin-left: 70px;
}

#space2{
	margin-bottom: 10px;
}

#second{
	margin-top: 25%;
	float: right;
	width: 45%;
	margin-right: 2.5%;
	padding-left: 15px;
	padding-right:15px;
	color: black;
	font-size: 16px;
	font-family: Helvetica ;
}

.navbar-brand{
	font-family: Paytone One;

}

hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#logo{
    width: 50px;
    height: 30px;
    display: inline;
    margin-bottom: 10px;
    vertical-align: top;
    margin-right: 10px;
}

h1{
	margin-top: 5%;
	margin-left: 20%;
	font-family: Kaushan Script;
	font-size: 75px;
	color: white;
	text-align: center;
  margin-bottom: 40px;
}

#username{
	margin-left: 9.9%;
}

#email{
	margin-left: 12.1%;
}

#pass{
	margin-left: 10.1%;
}





.contact-page {
  margin-bottom: 50px;
}

#first, #second {
  padding: 20px;
}

/* Mobile tweaks */
@media (max-width: 768px) {
  h1 {
    font-size: 28px;
  }


#first{
	font-size: 16px;
}




  #first, #second {
    padding: 15px;
	margin-top: 350px;
	margin-left: -5px;
  }

  .navbar-brand {
    font-size: 16px;
  }

  #logo {
    width: 30px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 24px;
  }
}

